# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments (if inside project)
env/
venv/
ENV/

# Environment variables
.env

# Django database
db.sqlite3

# Media and static files
media/
staticfiles/
static/assets/

# Logs
*.log

# Migrations (ignore migration code but keep init files)
# */migrations/*.py
# !*/migrations/__init__.py

# IDE/editor folders
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Test & coverage
.tox/
.pytest_cache/
.coverage
htmlcov/
