# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/

# Environment Variables
.env

# Django database
*.sqlite3

# Media & Static (optional)
media/
staticfiles/

# PyCharm IDE
.idea/
*.iml

# VS Code
.vscode/

# OS and logs
.DS_Store
Thumbs.db
*.log

# Jupyter
.ipynb_checkpoints/
